.full {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  pointer-events: none;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: auto;
  }
}
