.full {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  :global {
    img {
      width: 100vw;
      height: 100vh;
      object-fit: contain;
    }
  }
}
